{% extends 'base.html.twig' %}

{% block title %}

    {{ wish.title }} | {{ parent() }}

{% endblock %}

{% block body %}

    <h1>{{ wish.title }}</h1>
    <h2>{{ wish.category.name }}</h2>
    <div class="wish-description">{{ wish.description | nl2br }}</div>
    <div>Created by {{ wish.author }} on {{ wish.dateCreated|date("Y-m-d") }}</div>


{% endblock %}

