<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucketlist{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
<header>
    <img src="{{ asset('img/logo.svg') }}" alt="Bucketlist">

    <nav>
        <a href="{{ path('main_home') }}" title="Go back home">Home</a>
        <a href="{{ path('wish_list') }}" title="The wish list>">Wishes</a>
        <a href="{{ path('main_about_us') }}" title="About us">About us</a>
        {%  if app.user %}
            <a href="{{ path('wish_create') }}" title="Create">Add a Wish</a>
            <a href="{{ path('app_logout') }}">Logout({{ app.user.email }})</a>
        {% else %}
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Create an account</a>
        {% endif %}

        <a href="{{ path('main_legal_stuff')}}" title="Mentions légales">Mentions Légales</a>
        <a href="{{ path('wish_add_test') }}" title="Ajout aléatoire de Wishies">Ajout aléatoire de Wish</a>
    </nav>
</header>

<main>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<footer>
    {% block footer_content %}{% endblock %}
    &copy; Bucketlist {{ "now"|date("Y") }}
</footer>

{% block js %}{% endblock %}
</body>
</html>